
body{
  background: rgb(245, 245, 245);
}
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    
:hover.btn-primary{
  cursor: pointer;
  color: gray;
}

  * {
    margin: 0;
    padding: 0;
  }
  header{
    padding:  0px 100px;
  }
  main {
    padding: 0px 100px;
  }
  .nav-c
  {
    width: 1280px;
    height: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
align-items: center;
  }
.btn {
  background-color: white;
  width: 116px;
  height: 52px;
  padding: 14px 24px;
  border: 1px solid  #006A50;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}
.hero 
{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 80px 100px;
  height: 560px;
  width: 1280px;
  box-sizing: border-box;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  gap: 34px;
  justify-content: center;
  align-items: center;
  
}
.pic {
  height: 400px;
  width: 474px;
}
.Explore-btn {
  height: 56px;
  width: 270px;
  padding: 10px 20px ;
  border-radius: 8px;
  border: none;
  background-color: #006A50;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

}
  .Idea {
    font-size: 56px;
    font-weight: 600px;
    margin-bottom: 24px;
    color:#0E0E0E ;
  }   
  .ban {
    font-size: 32px;
    font-weight: 700;
    color:#0E0E0E ;
  }     
  .bang {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #0e0e0e62;
   
  }
  .pilar-head{
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
  }
  .pilar{
    margin-top: 80px;
    margin-bottom: 80px;

  }
  .b-pill {
    font-weight: 600; 
    font-size: 40px;
margin-bottom: 32px;
  }
.pcc{
  height: 244px;
  width: 302px;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #0e0e0ec9;
}
.pilar-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
}
.card-des {
  color:#0e0e0e88 ;
  font-size: 16px;
font-weight: 400;
}
.vision_card {
          margin: 32px 0px;
          display: flex;
          justify-content: space-between;
          gap: 24px;
}
.vision-card-contain {
  height: 325px;
  width: 411px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #548ff58e;
}
.vision-card-cotain1{
  height: 325px;
  width: 411px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #C6E4D6;
}
.vision-card-cotain2 {
  height: 325px;
  width: 411px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #F7EBCF ;

}
.learn-button {
  height: 41px;
  width: 122px;
  margin-top: 24px;
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #5490F5;
}
.learn-button2 {
  height: 41px;
  width: 122px;
  margin-top: 24px;
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #09A15C;

}
.learn-button3{
  height: 41px;
  width: 122px;
  margin-top: 24px;
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color:#FFC239 ;


}
.yonus {
  height: 256px;
  width: 1280px;
  border: 1px solid   black ;
  border-radius: 16px;
  padding: 38px 24px ;
  box-sizing: border-box;
  margin-bottom: 80px ;
  background-color: #FFFFFF;
}
.said {
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
}
.yu-p {
  padding:  20px 0px;
}
  .news {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .news-container {
    margin-top: 24px;
    height: 402px;
    width: 1280px;
    padding: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    background:#ffffff ;
  }
  .sat {
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 12px;
  }
  .satelite-pic {
    border-radius: 24px;
  }
  .read-btn {
    margin-top: 32px;
    height: 48px;
    width: 139px;
    padding: 3px 16px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #006A50;
  }
  .donate {
    margin: 80px 0px;
    width: 1280px;
    height: 464px;
    text-align: center;
  }
  .tk{
    margin: 32px 140px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .tk-100 {
    width: 240px;
    height: 128px;
    padding: 40px 0px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    background-color: #FFFFFF;
    text-align: center;
  }
  .tk-200 {
    width: 252px;
    height: 128px;
    padding: 40px 0px;
    box-sizing: border-box;
    overflow: hidden;
    
    border-radius: 16px;
    background: #c6e4d6e4;
    text-align: center;

  }
  .tk-500 {
    width: 240px;
    height: 128px;
    padding: 40px 0px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    background-color: #FFFFFF;
    text-align: center;


  }
  .tk-1000 {
    width: 264px;
    height: 128px;
    padding: 40px 0px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    background-color: #FFFFFF;
    text-align: center;
  }
  .tk-input {
    width: 1032px;
    height: 64px;
    border: none;
    border-bottom: 1px solid #0e0e0ede ;
    text-align: center;
  }
  input ::placeholder{
    font-size: 20px;
    font-weight: 400;
    color:#0e0e0eca ;
  }
  .btn-done {
    margin: 32px 32px;
    width: 151px;
    height: 56px;
    padding: 15px 0px;
    box-sizing: border-box;
    border: 1px solid #0e0e0edd;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF ;
    text-align: center;
    background: #006A50;
  }
  .newsletter {
    margin: 80px 0px;
    height: 395px;
    width: 1280px;
    padding: 80px 100px;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #C6E4D6 ;
    text-align: center;
  }
  .sub-input {
    margin-top: 24px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .email-in {
    width: 600px;
    height: 55px;
    border: none;
    padding: 0px 40px;
    border-radius: 8px 0px 0px 8px;
    background: #FFFFFF;
  }
  .sub {
    width: 151px;

    height: 55px;
    padding: 15px 0px;
    border: none;
    border-radius: 0px 8px 0px 8px ;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background:#006A50 ;
  }
  footer {
    background-color: #FFFFFF;
    padding: 50px 150px;
    text-align: center;
  }
  .line{
    margin: 32px 0px;
    width: 1122px;
    padding: 0px 80px;
    border: 1px solid #0e0e0ee1 ;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
  }
  /* fkfjaf */